java_pid54109.hprof.d2bp4g.b.ij
java_pid54109.hprof
build
android/build
common/build
desktop/build
captures
.gradle
.idea
bin
gen
out
*.iml
.directory
node_modules
local.properties
android/mobile/release/*
ios.xcworkspace/
.DS_Store
.externalNativeBuild
yarn.lock
